<div class="main-div">
    <p *ngIf="weather.length == 0">Searching...</p>
    <div *ngIf="weather.length > 0">
        <table>
            <thead>
                <tr>
                    <th colspan="7">{{location.state}}, {{location.country}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let forecast of weather">
                        <img [src]="forecast.iconLink" />
                        <p>{{ forecast.highTemperature }}ºC /
                            {{ forecast.highTemperature | fahrenheit }}ºF
                        </p>
                        <p>{{ forecast.utcTime | moment }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>